@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  --primary: #1DB954;
  --secondary: #0B3D20;
  --neutral-dark: #121212;
  --neutral-medium: #2C2C2C;
  --text-light: #F5F5F5;
  --accent-gold: #FFD700;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-primary: #1DB954;
  --color-secondary: #0B3D20;
  --color-neutral-dark: #121212;
  --color-neutral-medium: #2C2C2C;
  --color-text-light: #F5F5F5;
  --color-accent-gold: #FFD700;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
